<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.studio.zps.blue.ljy.dao.ArticleDao">

    <resultMap id="ArticleMap" type="Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="lastModify" property="lastModify" />
        <result column="type" property="type" />
    </resultMap>

    <insert id="addArticle" parameterType="java.util.Map" >
        insert into article (title,content,lastModify,type,adminID)
        values(#{article.title},#{article.content},#{article.lastModify},#{article.type},#{adminID})
    </insert>

    <delete id="deleteArticle" parameterType="Integer">
        delete from article where id=#{id}
    </delete>

    <select id="exist" parameterType="java.util.Map" resultType="Boolean" >
        SELECT COUNT(id)>0 exist FROM article WHERE adminID=#{adminID} AND title=#{title}
    </select>

    <select id="getArticle" parameterType="Integer" resultType="Article">
        select * from article where id=#{id}
    </select>

    <select id="getAllArticles" parameterType="Integer" resultMap="ArticleMap">
        select id,title,type,lastModify from article
    </select>

    <select id="getAllArticlesCount" parameterType="Integer" resultType="Integer">
        SELECT COUNT(id) FROM article
    </select>

    <update id="updateArticle" parameterType="Article">
        update article set title=#{title},content=#{content},lastModify=#{lastModify},type=#{type} where id=#{id}
    </update>
    
</mapper>