<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.studio.zps.blue.ljy.dao.ArticleTypeDao">

    <resultMap id="ArticleTypeMap" type="ArticleType">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="module_id" property="moduleID" />
    </resultMap>

    <insert id="addArticleType" parameterType="ArticleType">
        insert into
        article_type
        (type, module_id,url)
        values
        (#{type},#{moduleID},#{url})
    </insert>

    <select id="getAllArticleTypesByModuleID" resultMap="ArticleTypeMap">
        select * from article_type where module_id = #{moduleID}
    </select>

    <select id="getAllArticleTypes" resultMap="ArticleTypeMap" parameterType="Map">
        select * from article_type where 1=1
        <if test="moduleID!=null">
            and module_id=#{moduleID}
        </if>
        <if test="start!=null">
            limit #{start},#{number}
        </if>
    </select>

    <select id="countArticleTypes" parameterType="Map" resultType="Long">
        select count(id) from article_type
        <if test="moduleID!=null">
            where module_id=#{moduleID}
        </if>
    </select>

    <select id="getArticleTypeByTypeID" resultType="String">
        select type from article_type where id = #{typeID}
    </select>

    <select id="getArticleTypeByArticleID" resultType="ArticleType" parameterType="int">
        select * from article_type where id in(select typeID from article where id=#{articleID})
    </select>

    <delete id="deleteArticleType" parameterType="int">
        delete from article_type where id = #{id}
    </delete>

    <update id="alterArticleTypeName" parameterType="Map">
        update
        article_type
        set
        type = #{name}
        ,url = #{url}
        where
        id = #{typeID}
    </update>
    
</mapper>