<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.studio.zps.blue.ljy.dao.ModulePictureDao">
    <resultMap id="ModulePictureMap" type="ModulePicture">
        <id column="id" property="id" />
        <result column="path" property="path" />
        <result column="url" property="url" />
        <result column="moduleID" property="moduleID" />
    </resultMap>
    <insert id="addModulePicture" parameterType="ModulePicture">
        insert into
        module_picture
        (path, url, moduleID)
        VALUE
        (#{path},#{url},#{moduleID})
    </insert>
    <delete id="deleteModulePicture" parameterType="int">
        delete from module_picture where id = #{id}
    </delete>
    <select id="count" resultType="Long">
        select count(id) from module_picture where moduleID = #{moduleID}
    </select>
    <select id="getModulePictureByID" resultType="ModulePicture" parameterType="Integer">
        select * from module_picture where id = #{id}
    </select>
    <select id="getModulePicturesByModuleID" resultMap="ModulePictureMap" parameterType="Integer">
        select * from module_picture where moduleID = #{moduleID}
    </select>
    <select id="getAllModulePictures" resultMap="ModulePictureMap">
        select * from module_picture
    </select>
    <update id="updateModulePicture" parameterType="ModulePicture">
        update module_picture
        set
        path=#{path},url=#{url},moduleID=#{moduleID}
        where id = #{id}
    </update>
</mapper>