<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.studio.zps.blue.ljy.dao.VideoDao">
    <resultMap id="VideoMap" type="Video" >
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="courseID" property="courseID" />
    </resultMap>
    <select id="getVideo" parameterType="int" resultType="Video">
        select * from video where id = #{id}
    </select>
    <select id="getVideosByCourseID" parameterType="int" resultMap="VideoMap">
        select * from video where courseID = #{courseID}
    </select>
</mapper>